{% extends 'water/meta_base_nl.html' %} {% block body %}

<h1>{{ site.nom }}</h1>

<p>
    Vanaf <em>{{ start |date:"d/m/Y"}}</em> tot <em>{{end|date:"d/m/Y"}}</em>.
</p>
<p>
    De tijdstempel wordt gegeven in de<a
        href="https://nl.wikipedia.org/wiki/Midden-Europese_Tijd"
        >Midden-Europese Tijd</a
    >
    (UTC+1).
</p>
<table>
    <thead>
        <tr>
            <th>Code</th>
            <th>Waterlichaam</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{site.mon_be_code}}</td>
            <td>{{site.nom_gwb_fr}}</td>
        </tr>
    </tbody>
</table>

<h2>Instellingen</h2>
{% for P in parameters %} {% with P.parameter as param %} {% with P.statistics
as stat %}

<h3>{{ param }}</h3>

<table>
    <thead>
        <tr>
            <th>Jaar</th>
            <th>Aantal monsters</th>
            <th>Maximaal</th>
            <th>Minimaal</th>
            <th>Gemiddelde</th>
            <th>Trend</th>
        </tr>
    </thead>

    <tbody>
        {% for stat in statistics %}
        <tr>
            <td>{{stat.year}}</td>
            <td>{{stat.n|floatformat:"-4"}}</td>
            <td>{{stat.max|floatformat:"-4"}}</td>
            <td>{{stat.min|floatformat:"-4"}}</td>
            <td>{{stat.avg|floatformat:"-4"}}</td>
            <td>{{stat.trend}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Maandelijkse gemiddelden en trends</h3>

<table>
    <thead>
        <tr>
            <th>Jaar</th>
            <th>Januari</th>
            <th>Februari</th>
            <th>Maart</th>
            <th>April</th>
            <th>Mei</th>
            <th>Juni</th>
            <th>Juli</th>
            <th>Augustus</th>
            <th>September</th>
            <th>Oktober</th>
            <th>November</th>
            <th>December</th>
        </tr>
    </thead>
    <tbody>
        {% for stat in statistics %}
        <tr>
            <td>{{stat.year}}</td>
            {% for month in stat.monthly %}
            <td title="{{ month.month }}">
                {{month.avg|floatformat:"-4"}} {{month.trend}}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endwith %} {% endwith %} {% endfor %} {% endblock body %} {% block disclaimer
%} {% endblock disclaimer %}
