<html lang="{% block lang %}{% endblock lang %}">
<head>

<style>

body {

    margin-top: 2em;
    margin-left: 2em;
    font-family: sans-serif;
}

table {
  border: 2px solid #aaaaaa;
  text-align: center;
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid #aaaaaa;
  padding: 3px 4px;
}

table thead {
  background: #FFFFFF;
  border-bottom:  1px solid #aaaaaa;
}

table thead th {
  font-weight: bold;
  text-align: center;
}


</style>
</head>
<body>
{% block body %}
{% endblock body %}




<div>
{% block disclaimer %}
<h2>Disclaimer</h2>
La méthode de calcul devant être appliquée pour contrôler le respect d’une norme est indiquée en regard de la norme (min, P10, moyenne, P90 ou max). 
</br>
Un dépassement ponctuel par certaines mesures ne signifie donc pas forcément qu’une norme n’est pas respectée.
</br>
 Cette documentation [url vers doc fixe] explique le calcul des différentes normes, et ce tableau [url vers tableau des statistiques des paramètres et des normes en vigueur en fonction du temps] reprend le respect des normes pour le(s) paramètre(s) sélectionné(s) en fonction du temps.

{% endblock disclaimer %}
</div>



<div>
{% block normes %}

{% endblock normes %}
</div>


<div>
{% block licence %}
<h2>Licence CC BY 4.0</h2>
Vous êtes autorisé à :</br>
Partager — copier, distribuer et communiquer le matériel par tous moyens et sous tous formats</br>
Adapter — remixer, transformer et créer à partir du matériel pour toute utilisation, y compris commerciale.
</br>
</br>
Plus d'informations : <a href="https://creativecommons.org/licenses/by/4.0/deed.fr">https://creativecommons.org/licenses/by/4.0/deed.fr</a> </br>

{% endblock licence %}
</div>

<div>
<h2>Garanties et limites de responsabilité</h2>
<p>
Bruxelles Environnement met tout en œuvre pour que les informations disponibles sur cette application soient correctes et à jour, sans en garantir leur précision et leur exhaustivité. En effet, les informations contenues dans cette application peuvent comporter des erreurs qui, dès qu’elles ont été portées à la connaissance de Bruxelles Environnement, seront corrigées dans la mesure du possible. En outre, Bruxelles Environnement peut apporter, à tout moment et sans avertissement, des modifications à cette application pour l’améliorer.
L'utilisation de cette application, et par conséquent, l’utilisation des informations téléchargées de cette application, se fait sous la seule responsabilité de l'utilisateur. Bruxelles Environnement décline toute responsabilité pour les dommages pouvant résulter de l'utilisation de ces informations.
</p>
<h3>Politique en matière de protection de la vie privée</h3>
<p>
Cette application répond aux exigences en matière de protection des données à caractère personnel. Conformément à la réglementation, vous pouvez exercer vos droits (accès, rectification, suppression).
Cette application génère un cookie de session (un identifiant), qui identifie une session. Ce cookie ne contient qu’un seul identifiant anonyme et ne contient aucune information personnelle. Ce cookie est sauvé par le navigateur de votre ordinateur. Il a une durée de vie limitée.
</p>
<h3>Plus d’info</h3>
<p>
Pour plus de renseignements sur les données de l’application, veuillez contactez Bruxelles Environnement via eau_water@environnement.brussels.
</p>
</div>


</body>
</html>