{% extends 'water/meta_base_fr.html' %}

{% block body %}


<h1>{{ site.nom }}</h1>

<p>
Du <em>{{ start |date:"d/m/Y"}}</em> au <em>{{end|date:"d/m/Y"}}</em>.
</p>

<p>
L'horodatage est donné dans l'<a href="https://fr.wikipedia.org/wiki/Heure_normale_d%27Europe_centrale">heure normale d'Europe centrale</a> (UTC+1).
</p>

<table>
    <thead>
        <tr>
            <th>
            Code
            </th>
            <th>
            Masse d'eau
            </th>
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <td>
            {{site.mon_be_code}}
            </td>
            <td>
            {{site.nom_gwb_fr}}
            </td>
        </tr>
    </tbody>
</table>

<h2>Paramètres</h2>
{% for P in parameters %}
{% with P.parameter as param %}
{% with P.statistics as statistics %}

<h3>{{ param }}</h3>

<table>
    <thead>
        <tr>
            <th>
            Année
            </th>
            <th>
            Nombre d'échantillons
            </th>
            <th>
            Maximun
            </th>
            <th>
            Minimum
            </th>
            <th>
            Moyenne
            </th>
            <th>
            Tendance
            </th>
        </tr>
    </thead>
    
    <tbody>
    {% for stat in statistics %}
        <tr>
            <td>
            {{stat.year}}
            </td>
            <td>
            {{stat.n|floatformat:"-4"}}
            </td>
            <td>
            {{stat.max|floatformat:"-4"}}
            </td>
            <td>
            {{stat.min|floatformat:"-4"}}
            </td>
            <td>
            {{stat.avg|floatformat:"-4"}}
            </td>
            <td>
            {{stat.trend}}
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>

<h3>Moyennes et tendances mensuelles</h3>

<table>
    <thead>
        <tr>
            <th> Année </th> <th> Janvier </th> <th> Février </th> <th> Mars </th> <th> Avril </th> <th> Mai </th> <th> Juin </th> <th> Juillet </th> <th> Août </th> <th> Septembre </th> <th> Octobre </th> <th> Novembre </th><th> Décembre </th>
        </tr>
    </thead>
    <tbody>
    {% for stat in statistics %}
        <tr>
            <td>
            {{stat.year}}
            </td>
            {% for month in stat.monthly %}
            <td title="{{ month.month }}">
            {{month.avg|floatformat:"-4"}} {{month.trend}}
            </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endwith %}
{% endwith %}
{% endfor %}

{% endblock body %}

{% block disclaimer %}
{% endblock disclaimer %}