{% extends 'water/meta_base_fr.html' %}

{% block body %}


<h1>{{ site.site_fr }}</h1>

<p>
Du <em>{{ start |date:"d/m/Y"}}</em> au <em>{{end|date:"d/m/Y"}}</em>.
</p>

<table>
    <thead>
        <tr>
            <th>
            Identifiant
            </th>
            <th>
            Code
            </th>
            <th>
            Commune
            </th>
            <th>
            Masse d'eau
            </th>
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <td>
            {{ site.pk }}
            </td>
            <td>
            {{site.gid_site}}
            </td>
            <td>
            {{site.commune_fr}}
            </td>
            <td>
            {{site.id_waterbody.waterbody_fr}}
            </td>
        </tr>
    </tbody>

</table>

<h2>Paramètres</h2>
{% for P in parameters %}
{% with P.parameter as param %}
{% with P.statistics as stat %}

<h3>{{ param.par_fr }} ({{ param.unit_param }})</h3>

<table>
    <thead>
        <tr>
            <th>
            Nombre d'échantillons
            </th>
            <th>
            Maximun
            </th>
            <th>
            Minimum
            </th>
            <th>
            Moyenne
            </th>
            <th>
            Médiane
            </th>
            <th>
            P10
            </th>
            <th>
            P90
            </th>
            <th>
            Déviation standard
            </th>
            {% for group in stat.norms %}
            {% for norm in group %}
            <th>{{ norm.name }}</th>
            {% endfor %}
            {% endfor %}
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <td>
            {{stat.n|floatformat:"-4"}}
            </td>
            <td>
            {{stat.max|floatformat:"-4"}}
            </td>
            <td>
            {{stat.min|floatformat:"-4"}}
            </td>
            <td>
            {{stat.avg|floatformat:"-4"}}
            </td>
            <td>
            {{stat.p50|floatformat:"-4"}}
            </td>
            <td>
            {{stat.p10|floatformat:"-4"}}
            </td>
            <td>
            {{stat.p90|floatformat:"-4"}}
            </td>
            <td>
            {{stat.stdev|floatformat:"-4"}}
            </td>
            {% for group in stat.norms %}
            {% for norm in group %}
            {% if norm.conform %}
            <td>Conforme</td>
            {% else %}
            <td>Non conforme</td>
            {% endif %}
            {% endfor %}
            {% endfor %}
            </td>
        </tr>
    </tbody>

</table>

{% endwith %}
{% endwith %}
{% endfor %}

{% endblock body %}


{% block normes %}
<h2>Définitions des normes</h2>
<table dir="auto">
    <thead>
        <tr>
            <th>CODE</th>
            <th>NOM</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>aa_bcr</td>
            <td>Moyenne annuelle RBC (inférieure à)</td>
        </tr>
        <tr>
            <td>aa_eu</td>
            <td>Moyenne annuelle UE</td>
        </tr>
        <tr>
            <td>sum</td>
            <td>Somme (inférieure à)</td>
        </tr>
        <tr>
            <td>mac</td>
            <td>Concentration maximale admissible</td>
        </tr>
        <tr>
            <td>min_val</td>
            <td>Valeur minimale</td>
        </tr>
        <tr>
            <td>max_val</td>
            <td>Valeur maximale</td>
        </tr>
        <tr>
            <td>aa_min_val</td>
            <td>Moyenne annuelle RBC (supérieure à)</td>
        </tr>
        <tr>
            <td>biote</td>
            <td>Biote (inférieur à)</td>
        </tr>
        <tr>
            <td>summer</td>
            <td>Moyenne estivale semestrielle</td>
        </tr>
        <tr>
            <td>winter</td>
            <td>Moyenne hivernale semestrielle</td>
        </tr>
        <tr>
            <td>p10</td>
            <td>Percentile 10 (supérieur à)</td>
        </tr>
        <tr>
            <td>p90</td>
            <td>Percentile 90 (inférieur à)</td>
        </tr>
        <tr>
            <td>Max_count_year</td>
            <td>Nombre d'observations</td>
        </tr>
    </tbody>
</table>
{% endblock normes %}