{% extends 'water/meta_base_nl.html' %}


{% block body %}

<h1>{{ site.no_code }}, {{ site.adresse_1 }}</h1>

<p>
Du <em>{{ start |date:"d/m/Y"}}</em> au <em>{{end|date:"d/m/Y"}}</em>.
</p>

<table>
    <thead>
        <tr>
            <th>
            Identificator
            </th>
            <th>
            Code
            </th>
            <th>
            Waterlichaam
            </th>
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <td>
            {{ site.no_station }}
            </td>
            <td>
            {{site.no_code}}
            </td>
            <td>
            {{site.nom_gwb_fr}}
            </td>
        </tr>
    </tbody>

</table>

<h2>Instellingen</h2>
{% for P in parameters %}
{% with P.parameter as param %}
{% with P.statistics as stat %}

<h3>{{ param.nomparametre }} ({{ param.uniteparametre }})</h3>

<table>
    <thead>
        <tr>
            <th>
            Aantal monsters
            </th>
            <th>
            Maximaal
            </th>
            <th>
            Minimaal
            </th>
            <th>
            Gemiddelde
            </th>
            <th>
            Mediaan
            </th>
            <th>
            P10
            </th>
            <th>
            P90
            </th>
            <th>
            Standaardafwijking
            </th>
            {% for group in stat.norms %}
            {% for norm in group %}
            <th>{{ norm.name }}</th>
            {% endfor %}
            {% endfor %}
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <td>
            {{stat.n|floatformat:"-4"}}
            </td>
            <td>
            {{stat.max|floatformat:"-4"}}
            </td>
            <td>
            {{stat.min|floatformat:"-4"}}
            </td>
            <td>
            {{stat.avg|floatformat:"-4"}}
            </td>
            <td>
            {{stat.p50|floatformat:"-4"}}
            </td>
            <td>
            {{stat.p10|floatformat:"-4"}}
            </td>
            <td>
            {{stat.p90|floatformat:"-4"}}
            </td>
            <td>
            {{stat.stdev|floatformat:"-4"}}
            </td>
            {% for group in stat.norms %}
            {% for norm in group %}
            {% if norm.conform %}
            <td>Conform</td>
            {% else %}
            <td>Niet-conform</td>
            {% endif %}
            {% endfor %}
            {% endfor %}
            </td>
        </tr>
    </tbody>

</table>

{% endwith %}
{% endwith %}
{% endfor %}

{% endblock body %}

