{% extends 'water/meta_base_fr.html' %}

{% block body %}

<h1>{{ site.no_code }}, {{ site.adresse_1 }}</h1>

<p>
Du <em>{{ start |date:"d/m/Y"}}</em> au <em>{{end|date:"d/m/Y"}}</em>.
</p>

<table>
    <thead>
        <tr>
            <th>
            Identifiant
            </th>
            <th>
            Code
            </th>
            <th>
            Masse d'eau
            </th>
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <td>
            {{ site.no_station }}
            </td>
            <td>
            {{site.no_code}}
            </td>
            <td>
            {{site.nom_gwb_fr}}
            </td>
        </tr>
    </tbody>

</table>

<h2>Paramètres</h2>
{% for P in parameters %}
{% with P.parameter as param %}
{% with P.statistics as stat %}

<h3>{{ param.nomparametre }} ({{ param.uniteparametre }})</h3>

<table>
    <thead>
        <tr>
            <th>
            Nombre d'échantillons
            </th>
            <th>
            Maximun
            </th>
            <th>
            Minimum
            </th>
            <th>
            Moyenne
            </th>
            <th>
            Médiane
            </th>
            <th>
            P10
            </th>
            <th>
            P90
            </th>
            <th>
            Déviation standard
            </th>
            {% for group in stat.norms %}
            {% for norm in group %}
            <th>{{ norm.name }}</th>
            {% endfor %}
            {% endfor %}
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <td>
            {{stat.n|floatformat:"-4"}}
            </td>
            <td>
            {{stat.max|floatformat:"-4"}}
            </td>
            <td>
            {{stat.min|floatformat:"-4"}}
            </td>
            <td>
            {{stat.avg|floatformat:"-4"}}
            </td>
            <td>
            {{stat.p50|floatformat:"-4"}}
            </td>
            <td>
            {{stat.p10|floatformat:"-4"}}
            </td>
            <td>
            {{stat.p90|floatformat:"-4"}}
            </td>
            <td>
            {{stat.stdev|floatformat:"-4"}}
            </td>
            {% for group in stat.norms %}
            {% for norm in group %}
            {% if norm.conform %}
            <td>Conforme</td>
            {% else %}
            <td>Non conforme</td>
            {% endif %}
            {% endfor %}
            {% endfor %}
            </td>
        </tr>
    </tbody>

</table>

{% endwith %}
{% endwith %}
{% endfor %}

{% endblock body %}